$primary-color: #ff0000;

$dblue: #394471;
$mblue: #5b6fb0;
$lblue: #cfdde0;
$hlred: #ef4137;
$dred: #a31e22;
$highlight: #E5E9FA;

$lgrey: #CCC;
$dgrey: #666;
$bgrey: #222;
$lgrey2: #FAFAFA;

$roboto: 'Roboto', sans-serif;
$robotoCon: 'Roboto Condensed', sans-serif;