// IE < 10
// Don't delete.
.lt-ie10 {
  #site-canvas {
    display: none;
  }
  #nocando {
    margin: 200px auto;
    padding: 32px;
    max-width: 440px;
    background: #fff;
    h1 {
      font-size: 24px;
      line-height: 1.1;
      margin-bottom: 32px;
    }
  }
}

body { 
  margin:0; 
  padding:0; 
}


header {
  background-color: $dblue;
}

.header-padding {
  padding: 30px;
}

.white {
  color: #fff;
}

#map { 
  width:800px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.mapboxgl-canvas{
  height: 800px;
}
